/* .App {
  /* text-align: center; */
/* } */ */


/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.im1{
  height: 250px;
  width: 200px;
 margin: 50pX;

  
}
.p{
  background-color: white;
  height: 400px;
  width:300px;
}
.glyphicon{
  background-color: yellow;
}
.photos{
  background-color:#e4e4e4;
  width: 1200px;
  height: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.photos .photo{
  margin: 20px;
  width: 200px;
  height: 200px;
}
.photos .photo img{
  width: 00%;
  height: 10%;
  background-color: yellow;

}
body{
  background-color: yellow;
}